<h3>user</h3>
<button (click)="login()">login</button>
<button (click)="logout()">logout</button>
<button (click)="getUser()">get user</button>
<button (click)="createUser()">create user</button>
<button (click)="updateUser()">update user</button>
<button (click)="deleteUser()">delete user</button>
<h3>view</h3>
<button (click)="getView()">get view</button>
<button (click)="getViewResult()">get view result</button>
<h3>content</h3>
<button (click)="getContent()">get content</button>
<button (click)="createContent()">create content</button>
<button (click)="updateContent()">update content</button>
<button (click)="deleteContent()">delete content</button>
<button (click)="contentType()">content type</button>
<h3>taxonomy</h3>
<button (click)="getTerm()">get term</button>
<button (click)="createTerm()">create term</button>
<button (click)="updateTerm()">update term</button>
<button (click)="deleteTerm()">delete term</button>
<button (click)="getVocabulary()">get vocabulary</button>
<h3>file</h3>
<input type="file" accept="image/*" (change)="file = $event.target.files[0]" />
<button (click)="upload()">create file</button>
<button (click)="getFile()">get file</button>
<button (click)="editFile()">edit file</button>
<button (click)="deleteFile()">delete file</button>
<h3>Media</h3>
<button (click)="createMedia()">create media</button>
<button (click)="getMedia()">get media</button>
<button (click)="editMedia()">edit media</button>
<button (click)="deleteMedia()">delete media</button>
<h3>Flag</h3>
<button (click)="postFlag()">post flag</button>
<button (click)="getFlag()">get flag</button>
<button (click)="editFlag()">edit flag</button>
<button (click)="deleteFlag()">delete flag</button>
<h3>Webform</h3>
<button (click)="getWebform()">get webform</button>
<button (click)="webformFields()">Webform Fields</button>
<button (click)="getWebformSubmission()">get Webform submission</button>
<button (click)="updateWebformSubmission()">update Webform submission</button>
<button (click)="submitWebform()">submit</button>
